<template>
  <div class="{{name}}">{{name}}</div>
</template>

<script>
export default {
  name: '{{name}}',
  props: {},
  data() {
    return {};
  },
  mounted() {},
  methods: {},
};
</script>
<style lang="scss" scoped src="./index.scss"></style>
