<template>
  <div id="playground">
    <{{name}} />
  </div>
</template>

<script>
import {{name}} from './{{name}}';

export default {
  name: 'Playground',
  components: {
    {{name}}
  },
}
</script>

<style lang="scss">
</style>
